.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.help1{
text-align: center;
align-items: center;


}
.helptitlebox{
  width: 900px;
 padding: 30px;
  height:fit-content;
 margin-left: 20%;
 margin-top:1%;
 
 
}
.box{
  width: 900px;
  border: 2px solid rgb(255, 214, 179);
  background-color: rgb(245, 245, 245);
  padding: 50px;
  height:fit-content;
 margin-left: 20%;
 margin-top:1%;
 box-shadow: .8px .8px .8px .8px rgb(255, 214, 179);
  }
  .textsize{
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
  }
  .helpheadersize{
   margin-top: -6%;
  } 
  .divleftbox{
    margin-left:-89px;
    width: 300px;
    height:fit-content;
  }
  .divcenterbox{
    width: 300px;
    height:fit-content;
    border-right: 1px solid black;
    border-left: 1px solid black;
  }
  .divrightbox{
    margin-right:-90px;
    width: 300px;
    height:fit-content;
  }
  .boldtitle{
    font-weight: bolder;
  }
  .brands{
    background-color: lightgrey;
    border-top: 1px solid black;
    
  }