#navbar{
    border-style: solid;
    border-width: 2px;
    border-color: rgb(32, 29, 29);
    height: 60px;
    background-color: rgb(178, 131, 131);
}
#page{
    background-color: rgb(120, 103, 103)
}
body{
    background-color: rgb(120, 103, 103);
}
.w {
 
  
    

     
  }

 .c{



 }