.navbar{
    border-style: solid;
    border-width: 2px;
    border-color: rgb(32, 29, 29);
    height: 60px;
    background-color: rgb(212, 99, 0);
}
.background{
    background-color: rgb(182, 182, 182);
}
.Sidebar
{
    border-style: solid;
    border-width: 2px;
    border-color: rgb(200, 200, 200);
  padding-right: 100px;
   top: 160px;
   background-color: rgb(230, 230, 230);
   width: 100%;
   height: 500px;
   margin-bottom: 15px;
   
}
.Content
{
    border-style: solid;
    border-width: 2px;
    border-color: rgb(200, 200, 200);
   top: 160px;
   left: 31%;
   background-color:  rgb(230, 230, 230);
   width: 100%;
   height: 500px;
}
.titlemessage{
    font-size: 16px;
    font-weight: bolder;
    font-style: italic;
    font-stretch: expanded;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: dark grey;
    float: right;
    padding-right: 10px;
    

}
.top-left-image {
    position: absolute; 
    top: 0;
    left: 0; 
    z-index: 999;
    padding-left: 1px; 
    margin-top: 1px; 
    height: 56px; 
}
.page-title {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: dark gray;
}
footer{
    border-style: solid;
    border-width: 2px;
    border-color: rgb(32, 29, 29);
}
.img-container-wrapper {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
}

.img-container {
    margin: 10px;
    width: 30%; 
    max-width: 300px; 
    height: auto; 
}
