.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.cardColor{

  background-color: aliceblue;
  border: 2px solid black;
}
.imgnew{
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}
.title{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 25px;
  text-align: center;
}
.price{
  color:green;
 font-size: 20px;
}
.pricebox{
  background-color: rgb(227, 227, 227);
  margin-left:25%;
    width: 75px;
    height: 100px;
    border-radius: 10%;
    text-align: center;
    line-height: 100px;
    font-size: 28px;
  }

.commentPrice{
  font-style: italic;
  font-size: 14px;
}
.lbtnn{
margin-left: 30%;
}
.rbtnn{
  margin-right:30%;
}
.checkoutbtn{
margin-left: 90%;
background-color: rgb(65, 65, 255);
color: white;
padding: 10px;
border-radius: 30%;
}
.searchbarbtn{
margin-right: 40%;
margin-left: 44%;
margin-bottom: 30px;

}
.searchbar{
text-align: center;
margin-top: -60px;
}
.headerc{
  background-color: lightgray;
}
.t{
  
  color: rgb(199, 109, 0);
  margin-left: 5%;
  margin-bottom: -1%;
  margin-top: 1%;
  
}
footer{
  height: 180px;
  background-color: lightgray;
}

.whiteSpace{
  background-color: white;
  padding-top: 20px;
  padding-bottom: 10px;
}
#liveAlertPlaceholder
{
  background-color: red;
  text-align: center;
  padding: 10px;
}

.centerText
{
  text-align: center;
}
 .boxaroundinfo{
  border-left: solid black 2px;
  border-right: solid black 2px;
  border-bottom: solid black 2px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 1%;
  border-top: 1%;
 }
  
